@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table title="Student Master - marksheet" border="1" style="margin:auto; text-align:center;">
        <thead>
            <tr>
                <th>Student</th>
                <th>Subject</th>
                <th>Marks</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Harshil</td>
                <td>Python</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Meet</td>
                <td>Java</td>
                <td>67</td>
            </tr>
            <tr>
                <td>Keval</td>
                <td>Web Programming</td>
                <td>60</td>
            </tr>
            <tr>
                <td>Priya</td>
                <td>php</td>
                <td>55</td>
            </tr>
        </tbody>
    </table>
</div>
